venv/
.env
.ipynb_checkpoints/
backup/
data/
cache/features_cache_academic_500.npy
cache/features_cache_academic_1000.npy
cache/features_cache_academic_2000.npy
cache/features_cache_academic.npy
cache/labels_cache_academic_500.npy
cache/labels_cache_academic_1000.npy
cache/labels_cache_academic_2000.npy
cache/labels_cache_academic.npy
cache/syntactic_detector_true.pkl
solution_3.ipynb
src/__pycache__
baselines/__pycache__
baselines/output/